<html>

<head>

    <link rel="stylesheet" href="https://toolkit.dixa.io/cards/v1/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous" />
    <style type="text/css">
        body {
            font-family: Open Sans, sans-serif;
            -webkit-font-smoothing: antialiased
        }

        table {
            border-style: hidden;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        tr {
            text-align: left;
            font-size: 12px;
            text-transform: uppercase;
            color: #9b9b9b;
            font-weight: 600;
            line-height: 32px;
            padding: 0 8px
        }

        a {
            color: #448AFF;
        }

        td {
            font-size: 14px;
            line-height: 20px;
            color: #5a5a5a;
            background-color: transparent;
            padding: 6px 8px
        }

        td:nth-child(1) {
            width: 150px;
            min-width: 150px;
        }

        tr:nth-child(odd) {
            background: #FFFFFF
        }

        tr:nth-child(even) {
            background: #F9F9F9
        }

        table tr:hover {
            background: #f5f5f5
        }
    </style>
</head>

<body>
    <center>
        <img src="https://s3.amazonaws.com/cdn.hotglue.xyz/images/logos/microsoft_dynamics_365.png" height="100px" />
    </center>
    <br />
    <table>
        {% if error %}
        <tr>
            <td>{{error}}</td>
        </tr>
        {% else %}
        <tr>
            <td>Company</td>
            <td>{{results.company}}</td>
        </tr>
        <tr>
            <td>Company Website</td>
            <td>{{results.website}}</td>
        </tr>
        <tr>
            <td>Contact created</td>
            <td>{{results.createdon}}</td>
        </tr>
        {% endif %}
    </table>
</body>

</html>